body {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 160px;
  margin-right: 160px;
  border-radius: 5px;
  color: white;
  width: auto;
}

h1, h3, h2 {
  margin: 10px 0;
}

button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 20px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff4757;
}

button:active {
  background-color: #e63946;
}

img {
  justify-content: center;
  align-items: center;
  max-width: 250px;
  height: 370px;
  border: solid white;
  border-radius: 10px;

}

.anime-list-label {
  font-size: 24px;
  color: #ff6b6b;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 2px solid #ff6b6b;
  padding-bottom: 10px;
}

.anime-box {
  padding-top: 350px;
  padding-left: 100px;
  padding-right: 100px;
}

.anime-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

}

.anime-card {
  padding: 20px;
}

.anime-title {
  color: black;
  font-size: 20px;
  margin-top: 20px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show {
  display: flex;
  justify-content: right;

}

.anime-image {
  display: block;
  margin: 0 auto;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
